* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
  color: inherit;
}

/* 通用样式类 */
.w{
  width: 992px;
  margin: 0 auto;
}

/* 清除浮动 */
.clearfix::after{
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

/* 省略号 */
.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.ellipsis2 {
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}